/*General*/
.h1-strong{
    font-size: 35px;
    font-weight: bold;
    margin-left: 13px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.active{
    background: #9c1111 !important;
}

.pointer{
    cursor: pointer;
}

/*Header*/
.navigation {
    padding: 0px !important;
}

.navigation .navbar {
    border-radius: 0px !important;
    background: #d3322d !important;
    border: none;
}

.navigation .navbar *{
    color: white !important;
}

.navigation .navbar a:hover{
    background: #9c1111 !important;
}

.navigation .navbar .dropdown-menu *{
    color:black !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a{
    background: #d3322d !important;
}

.navigation .navbar .dropdown-menu a:hover{
    background: #eee !important;
}

/*jumbotron home*/
.jumbotron{
    padding: 25px;
    border-radius: 5px;
    text-align: center;
}